<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cities List</title>
    <meta name="viewport" content="initial-scale=1, shrink-to-fit=yes">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"/>
    {{!-- <link rel="stylesheet" type="text/css" href="extensions/filter-control/bootstrap-table-filter-control.css"/> --}}
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>

<script language="Javascript" src='./js/cities_ShowHideCRUD.js'></script>

<body onload='browseCities()'>

{{!-- The Data from our database --}}

{{!-- Create a table --}}
<div id="top">
<h1 align="center">Cities</h1>

<nav class="navbar navbar-inverse center"> 
    <div class="container">
        <div class="navbar-header">
            {{!-- <button class="btn btn-outline-primary" onClick="redirectHome()">Homepage</a></button> | <button class="nav-link btn btn-outline-primary" onClick="redirectRestaurants()">Restaurants</button> | <button class="btn btn-outline-primary" href="/cuisines">Cuisines</button> | <button class="btn btn-outline-primary" href="/cities">Cities</button> | <button class="btn btn-outline-primary" href="/users">Users</button> | <button class="btn btn-outline-primary" href="/reviews">Reviews</button> | <button class="btn btn-outline-primary" href="/restaurant_has_cuisines">Restaurants' Cuisines</button> --}}
            [ <a href="/">Home</a> | <a href="restaurants">Restaurants</a> | <a href="/cuisines">Cuisines</a> | <a href="/cities">Cities</a> | <a href="/users">Users</a> | <a href="/reviews">Reviews</a> | <a href="/restaurant_has_cuisines">Restaurants' Cuisines</a> ]
        </div>
    </div>
</nav>

</div>
<p>&nbsp;</p>

<div id="browse-cities">
    <p><button href="cities/add-city" onClick="newCity()">Add a New City</button> &nbsp;
    <button href="cities/update-city" onClick="updateCity()">Update a City</button></p>
    
    <table id="cities-table" 
    class="table table-striped table-bordered table-hover" 
    align="center"
    data-search="true"
    >

    {{!-- Header section --}}
    <thead class="justify-content-center" align="center">

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr id="headers">
            <th class="header" scope="col">ID</th>
            <th class="header" scope="col">City Name</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr align="center" data-value={{this.city_id}}>
            <td id="city_id">{{this.city_id}}</td>
            <td id="city_name">{{this.city_name}}</td>
        </tr>
        {{/each}}
    </tbody>
    </table>

</div>
<p>&nbsp;</p>

<div id="search-city" style="display: block">
    <h2>Search for a City below.</h2>
    <p>Search by City name using the field below. Partial names are OK too!</p>
    <form id="search-city-form" method='GET' action='/cities'>
        <label for="input-city-name">Search by City Name: </label>
        <input type="text" name="city_name" id="input-city-name-search">
        
        <input type="submit">
        <a href="/cities"><input type="button" value="Reset"></a>
    </form>
</div>
<p>&nbsp;</p>

{{!-- Add data using AJAX --}}
<div id="add-city" style="display: block">
    <h2>Add a new city: </h2>
    <p>To add a new city, please enter the information below and click 'Submit'! </p> 
    <p><small>Note: * indicates a required field.</small></p>

    <form id="add-city-form-ajax">
        <p><label for="input-city-name">* City Name: </label>
        <input type="text" name="input-city-name" id="input-city-name" placeholder="*Name"></p>

        <span id="add-city-error"><span>
        <input type="submit">
        <input type="button" value="Cancel" onClick="browseCities()"></p>

    </form>
</div>

<script src="./js/cities_insert.js"></script>

<p>&nbsp;</p>

<div id="update-city" style="display: block">
<h2>Update a City's Details:</h2>
<p>To update a specific city's details, select their ID from the dropdown menu then entire the desired new name.</p>
<p><small>Note: * indicates a required field.</small></p>
<form id="update-city-form-ajax">

    <label for="selectedCity">* Select a City ID</label>
    <select name="selectedCity" id="selectedCity">
        <option value="">City ID</option>
        {{#each data}}
        <option value="{{this.city_id}}">{{this.city_id}}</option>
        {{/each}}
    </select>

    <p><label for="update-city-name" autocomplete="on">* City Name: </label>
    <input type="text" name="update-city-name" id="update-city-name"></p>
    <span id="edit-city-error"></span>

    <p><input type="submit">
    <input type="button" value="Cancel" onClick="browseCities()"></p>

</form>
</div>

<script src="./js/cities_update.js"></script>

<p>&nbsp;</p>

</body> 
</html>